# Dataset manipulation
pandas==1.3.3
numpy==1.21.2

# Data visualization
seaborn==0.11.2
matplotlib==3.4.3

# Statistics
scipy==1.7.1

# Data cleaning and preprocessing
re
nltk==3.6.5
unidecode==1.3.2
spacy==3.1.2
wordcloud==1.8.1

# Feature extraction
scikit-learn==0.24.2

# Experimental tracking
comet-ml==3.23.2

# Modeling
lightgbm==3.2.1

# Deployment
streamlit==0.89.0

# Miscellaneous functions
collections
pickle
os
warnings

# Git for version control
gitpython==3.1.24
